name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Check formatting
      run: cd dlms-cosem-rs && cargo fmt -- --check

    - name: Check lints
      run: cd dlms-cosem-rs && cargo clippy -- -D warnings

    - name: Build
      run: cd dlms-cosem-rs && cargo build --verbose --features std

    - name: Run tests
      run: cd dlms-cosem-rs && cargo test --verbose --features std
